.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
  border-bottom: 1px solid var(--border-c);
  height: var(--header-height);
  @include mq {
    height: var(--header-height-pc);
  }
}

.lists {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
