.card {
  display: block;
  position: relative;
  height: 100%;
  background-color: var(--white);
  color: var(--black);
  border-radius: 6px;
  overflow: hidden;
  text-decoration: none;
  @include shadow;
}

.head {
  position: relative;
  height: 200px;
}

.body {
  padding: 10px;
}